body{
    background-color:rgb(215, 237, 248);
    display: block;
}
.qudluca{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: blue;
    font-weight: 600;
    float: left;
    padding-left: 40px;
    font-size: xx-large;
}
li{
    display:inline;
    padding-left: 40px;
    float: left;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
ul{
    padding-left:70% ;
}
.view>img{
    float: right;
    margin-right: 15%;
    margin-bottom: -6em;
    height:450px;
}
.view {
    margin-top: 7%;
    font-size: large;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
button{
    margin-left: 40px;
    height: 50px;
    background-color: blue;
    border-radius: 15px;
    color: #fff;
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
.my{
    margin-top: 23%;
    margin-left: 5%;
    padding-right: 5px;
}
.my>img{
    height: 50px;
    width:60px ;
    float: left;
    margin-right: 20px;
    border-radius: 15px;
    margin-top: -1em;
}
span>img{
    height: 80px;
    width: 60px;
    border: 1px inset;
    border-radius: 10px;
    box-shadow: 2px 3px 2px 5px;
    margin-left: 30px;
}
span{
    float: right;
    margin-top: -5%;
    margin-right: 5%;
    
}