body{
    background-color: rgb(46, 116, 144);
    margin: auto;
    display: block;
    position: absolute;
    
}
.face{
    border: 1px solid black;
    height: 485px;
    width: 350px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
    background-color: black;
    margin-left: 400px;
}
img{
    height: 270px;
    width: 250px;
    padding-top: 100px;
}
.face1{
    border: 1px solid #fff;
    height: 485px;
    width: 300px;
    font-family:'Times New Roman', Times, serif;
    background-color: #fff;
    padding-left: 25px;
}
div{
    float: left;
    margin-top: 96px;
}
input{
    padding-right: 90px;
    padding-top: 8px;
    padding-bottom: 7px;
    border-radius: 9px;
}
button{
    padding: 8px 70px 6px 70px;
    background-color:rgb(20, 57, 68);
    border: none;
    color: #fff;
    border-radius: 8px;
}   